{% extends 'base.html.twig' %}

{% block title %}Progica | Dream holidays{% endblock %}

{% block body %}
    <div class="flex flex-col">
    {{ include("./partials/_searchbar.html.twig") }}
    <div class="flex h-[calc(100vh-96px-48px-160px)] overflow-auto">
        <div class="md:grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 sm:align-center flex-1 max-h-[350px]">
            {% for gite in gites %}
            <a
                href="{{ path('show_gite', {id: gite.id}) }}"
                class="flex flex-col border align-middle justify-center bg-gold-light-opacity p-5 max-w-sm text-center m-1 rounded-md"
            >
                <h1 class="text-gold-dark font-bold">{{ gite.getNomGite()}}</h1>
                <img
                    src="{{ gite.image }}"
                    alt="gite"
                    class="text-center object-cover w-80 h-56 rounded-xl"
                />
                <div class="info mt-2">
                    <div class="flex flex-col">
                    
                        <div class="flex flex-row justify-center space-x-4">
                            <div class="flex flex-row items-center space-x-4">
                                <div class="flex flex-row items-center space-x-2" title="{{ gite.nbChambres }} {{ gite.nbChambres > 1 ? 'chambres disponibles' : 'chambre disponible' }}">
                                    <i class="fa-solid fa-bed">: </i>
                                    <h2>{{ gite.nbChambres }}</h2>
                                </div>
                                <div class="flex flex-row items-center space-x-2" title="surface de {{ gite.surface }} m²">
                                    <i class="fa-solid fa-ruler-combined">: </i>
                                    <h2>{{ gite.surface}} m²</h2>
                                </div>
                            </div>
                            <div class="flex flex-row items-center space-x-4">
                                <div class="flex flex-row items-center space-x-2" title="Peut accueillir jusqu'à {{ gite.nbChambres *2 }} adultes">
                                    <i class="fa-solid fa-user">: </i>
                                    <h2>{{ gite.nbChambres * 2 }}</h2>
                                </div>
                                <div class="flex flex-row items-center space-x-2" title="Peut accueillir jusqu'à {{ gite.nbLits - gite.nbChambres }} {{ (gite.nbLits - gite.nbChambres) > 1 ? 'enfants' : 'enfant'}}">
                                    <i class="fa-solid fa-children">: </i>
                                    <h2>{{ gite.nbLits - gite.nbChambres }}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="flex flex-1 items-center mt-2">
                                <div class="">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="flex-1 text-xs">
                                    <p class="text-xs">{{ gite.ville.getNom() }}</p>
                                    <p>{{ gite.ville.departement.getNom() }}</p>
                                    <p>
                                        {{ gite.ville.departement.region.getNom() }}
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-center space-y-1 mt-2">
                                {% if gite.acceptAnimaux %}
                                <i
                                    class="fa-solid fa-dog text-xl"
                                    title="Chiens acceptés, surplus par reservation {{ gite.tarifAnimaux }} €"
                                ></i>
                                {% endif %}
                                {% if gite.hasPool() %}
                                <i
                                    class="fa-solid fa-water-ladder text-xl"
                                    title="Piscine disponible"
                                ></i>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
